/* regole comuni */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'roboto', sans-serif;
    font-size: 14px;
}

/* debug */
/* header */
.debug header{
    height: 550px;
}

/* main */
.debug main{
    height: 800px;
}

/* footer */
.debug footer{
    height: 200px;
}

/* classi utility */
.blu{
    background-color: #0C325A;
}
.verde{
    background-color: #7CBB02;
}
.grigio{
    background-color: #D3D3D3;
}
.container{
    width: 80%;
    margin: auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.bottone{
    border-radius: 5px;
    margin: 0 10px;
}
.vuoto{
    padding: 8px 24px;
    border: 1px solid white;
}
.pieno{
    padding: 8px 24px;
    border: 1px solid #7CBB02;
}
.bottone.vuoto:hover{
    background-color: #7CBB02;
    border: 1px solid #7CBB02;
}
.bottone.pieno:hover{
    background-color: #0C325A;
    border: 1px solid white;
}

/* header */
#header{
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
    color: white;
}
#header nav{
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}
#header a{
    color: white;
    text-decoration: none;
    font-size: 11px;
}
.logo, .menu_sx, .menu_dx{
    float: left;
}
.logo{
    width: 15%;
    margin-top: 10px;
}
.menu_sx{
    width: 45%;
}
.menu_sx ul li{
    display: inline-block;
    list-style: none;
}
.menu_sx ul li a{
    text-transform: uppercase;
    padding: 5px 10px;
}
.menu_dx{
    width: 40%;
    text-align: right;
}
.menu_dx ul li{
    display: inline-block;
    list-style: none;
}
.menu_dx ul li a{
    text-transform: uppercase;
}
.scritte_header{
    height: 470px;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}
#header .scritte_header a{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    margin-left: 0;
}
#paragrafo_header{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 100px;
}

/* main */
.barra{
    width: 100%;
    height: 150px;
    text-align: center;
    position: relative;
}
.barra > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#barra_titolo{
    font-size: 25px;
    font-weight: 700;
}
#barra_sottotitolo{
    font-size: 15px;
    color: grey;
    margin-top: 10px;
}
.tre_colonne{
    height: 480px;
}
.colonna{
    width: 32%;
    height: 100%;
    float: left;
    text-align: center;
}
.colonna img{
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenitore_immagine_colonna{
    position: relative;
    height: 40%;
}
.titolo_colonna{
    height: 20%;
    color: #7CBB02;
    font-size: 24px;
    font-weight: 600;
}
.titolo_colonna::after{
    content: "";
    display: block;
    height: 1px;
    width: 75px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}
.scritte_colonna{
    height: 40%;
    color: grey;
    font-size: 18px;
}
.colonna1, .colonna2{
    margin-right: 2%;
}
hr{
    background-color: grey;
}
.immagine_scritta{
    height: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.immagine_scritta div{
    float: left;
    width: 50%;
    height: 100%;
}
.immagine_scritta div img{
    width: 100%;
}
.scritta_main_fine div{
    width: 100%;
    padding-left: 100px;
}
.scritta_main_titolo{
    font-size: 35px;
    font-weight: 600;
}
.scritta_main_sottotitolo{
    font-size: 20px;
    font-weight: 500;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link_scritta_main{
    font-size: 20px;
}